In [2]:
# --- 자동 모듈 리로드 설정 ---
%load_ext autoreload
# %autoreload 2: 모든 모듈을 매번 자동으로 다시 로드
%autoreload 2

In [3]:
# --- 공통 라이브러리 import ---
import sys
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go

sys.path.append(r"D:\OneDrive - HKNC\@ Project_CQMS\# Workstation_2")

In [4]:
from _00_database.db_client import get_client

In [ ]:
query = '''
SELECT 
    'RE/OE',
    "Prod.",
    "Billing YYYYMM",
    SUM("Qty.") AS TOTAL_QTY
FROM VW_SF_HOPE_SELLIN_SUMMARY
WHERE "Billing YYYYMM" >= 202001
GROUP BY 
    'RE/OE',
    "Prod.",
    "Billing YYYYMM"
'''

df = get_client('oracle_bi').execute(query=query)

In [7]:
df

        Prod. Billing YYYYMM  total_qty
0     3002060         202505         60
1     1032011         202505        264
2     3001592         202504       8313
3     3002783         202501          0
4     1030192         202502         88
...       ...            ...        ...
2556  1026852         202505        104
2557  3002652         202503       1512
2558  1017100         202501        212
2559  1028484         202504       6330
2560  3001630         202504         66

[2561 rows x 3 columns]

In [ ]:
['Data Category', 'Billing YYYYMM', 'RE/OE', 'Sold-to', 'Sold-to Name',
       'Ship-to', 'Ship-to Name', 'Prod.', 'Prod. Hier. Desc.', 'Gross Wgt.',
       'Qty.', 'Amt.', 'Sales Wgt.', 'Amt.(USD)', 'Amt.(EUR)', 'Amt.(KRW)',
       'Amt.(LOC)', 'Material', 'Material Desc.', 'Pattern', 'Inch', 'Origin',
       'Season', 'Region', 'Prod. Hier.', 'I-Seg.', 'I-Seg. Name',
       'Lab/Office', 'Prod. Name', 'Prod. Category Name(L)',
       'Prod. Category Name(M)', 'Prod. Category Name(S)', 'KAM Name',
       'Vehicle Name', 'Vehicle Grade', 'Pure EV', 'Vehicle Grade EV',
       'Update Date']